# tuples,list&set functions and manipulation

In [2]:
print('Hello')

Hello

In [3]:
a=('saurabh',23)

In [4]:
a

('saurabh', 23)

In [5]:
print('hello',a)

hello ('saurabh', 23)

In [6]:
print('hello my name is {}'.format(a))

hello my name is ('saurabh', 23)

In [7]:
b=('abc',21)

In [8]:
type(b)

tuple

In [9]:
print('hello my name {} and im {} '.format(b[0],b[1]))

hello my name abc and im 21

In [10]:
tuple1=("saurabh","sunny",'sid')

print(tuple1)

In [11]:
type(tuple1)

tuple

In [12]:
print(tuple1)

('saurabh', 'sunny', 'sid')

In [13]:
print(tuple1[-1])

sid

In [14]:
print(tuple1[0:2])

('saurabh', 'sunny')

In [15]:
print(tuple1[:2])

('saurabh', 'sunny')

In [16]:
tuple2=('Saurabh','Gavali',23)

In [17]:
type(tuple2)

tuple

In [18]:
len(tuple2)

3

In [19]:
my_tuple = ("hello", [87, 40, 60], "world", (10, 25, 30))

In [20]:
print(my_tuple[1][1],my_tuple[2],my_tuple[3][1],my_tuple[1],my_tuple[3])

40 world 25 [87, 40, 60] (10, 25, 30)

In [21]:
my_tuple = (40, 3, 2, [10, 4])

In [22]:
my_tuple[2] = 10 #we cannot modify tuple as it is immutable

TypeError: 'tuple' object does not support item assignment

In [23]:
list1=[10,20,50,62,32,45]

In [24]:
list1[2]=60

In [25]:
list1

[10, 20, 60, 62, 32, 45]

In [26]:
my_tuple = (40, 3, 2, [10, 4])

In [27]:
del my_tuple[3] #we cannot delete anything in tuple

TypeError: 'tuple' object doesn't support item deletion

In [28]:
my_tuple = ('math','science','science','python','english')

In [29]:
"python" in my_tuple

True

In [30]:
"python" not in my_tuple

False

In [31]:
print("python" in my_tuple)

True

In [32]:
print("python" not in my_tuple)

False

In [33]:
my_list = ["2", 50, "2", 50, 4, 6, 9, 9]

In [34]:
my_list

['2', 50, '2', 50, 4, 6, 9, 9]

In [35]:
a=(my_list)

In [36]:
a

['2', 50, '2', 50, 4, 6, 9, 9]

In [37]:
a=set(my_list) #converting list to set

In [38]:
my_list= set(my_list)

In [39]:
my_list

{'2', 4, 50, 6, 9}

In [40]:
my_list=set[my_list]

In [41]:
my_list

set[{4, 6, 9, 50, '2'}]

In [42]:
my_list = ["2", 50, "2", 50, 4, 6, 9, 9]

In [44]:
out_list = list(set(my_list)) #converted list to set to remove duplicates and then converting back to list

In [45]:
print(out_list)

[4, 6, 9, 50, '2']

In [46]:
type(out_list)

list

In [47]:
my_set = {"sara", "mike", "jon", "jon", "mike"}

In [49]:
my_set.add("saurabh")#adding element to set
my_set

{'jon', 'mike', 'sara', 'saurabh'}

In [50]:
newlist=list(set(my_set))

In [51]:
my_set

{'jon', 'mike', 'sara', 'saurabh'}

In [52]:
type(my_set)

set

In [53]:
print(newlist)

['saurabh', 'sara', 'mike', 'jon']

In [54]:
dir(my_set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']