In [1]:
set={10,20,30,40,50}

In [2]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

Q.1. CREATE A DICTIONARY WITH 3 OF YOUR FAVOURITE FRIENDS AND THEIR RESPECTIVE AGE AND PRINT OUT THE AGE OF SECOND NAME YOU CHOOSE

In [9]:
dict1={'siddhesh':23,
      'sunny':23,
      'russel':23}

In [11]:
dict1

{'siddhesh': 23, 'sunny': 23, 'russel': 23}

In [16]:
dict1['sunny']

23

Q.2. CREATE A DICTIONARY WITH 3 OF YOUR FAVOURITE FRIENDS AND THEIR RESPECTIVE HOURLY WAGE AND OBTAIN THE AVERAGE OF ALL THEIR SALARIES

In [17]:
dir(dict1)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [18]:
dict2={'siddhesh':230,
      'sunny':250,
      'russel':800}

In [20]:
avg=sum(dict2.values())/len(dict2)

In [23]:
print('avg is:'+ str(avg))

avg is:426.6666666666667

In [24]:
round(avg)

427

Q.3. UPDATE THE PREVIOUS DICTIONARY WITH TWO OF YOUR NEXT FAVOURITE FRIENDS AND THEIR RESPECTIVE SALARIES AND OBTAIN THE AVERAGE OF ALL THEIR SALARIES

In [26]:
dict2['ashish']=280

In [28]:
dict2['manish']=100

In [31]:
avg=sum(dict2.values())/len(dict2)

In [32]:
print(avg)

332.0

In [33]:
dict2

{'siddhesh': 230, 'sunny': 250, 'russel': 800, 'ashish': 280, 'manish': 100}

Q.4. WRITE A CODE THAT MULTIPLIES ALL THE ELEMENTS IN THE FOLLOWING DICTIONARY
my_dict = {'data1':500,
           'data2':-10,
           'data3':300}

In [73]:
my_dict = {'data1':500, 'data2':-10, 'data3':300}

In [74]:
ans=1

In [79]:
ans=ans*my_dict['data1']
ans=ans*my_dict['data2']
ans=ans*my_dict['data3']

In [76]:
print(ans)

-1500000

In [87]:
def mul(a):
    x=1
    for i in a.values():
        x = x * i
        
    
    return x

In [88]:
mul(my_dict)

-1500000